{% extends "base.html" %}
{% block title %}Music Upload{% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top: 5vh; margin-bottom: 5vh;">
	<div class="row">
		<div class="col">
			<h1 style="text-align: center; margin-bottom: 2vh;">Upload File</h1>
			<div class="form-group">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="file_input" oninput="input_filename();">
					<label for="file_input" id="file_input_label" class="custom-file-label">Select File</label>
				</div>
			</div>

			<button onclick="upload('{{ request.url }}')" id="upload_btn" class="btn btn-primary">Upload Button</button>

			<button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
				<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				Uploading...
			</button>

			<button class="btn btn-secondary d-none" id="cancel_btn" type="button">Cancel</button>

		</div>
	</div>

	<div class="row">
		<div class="col">
		<div id="progress_wrapper" class="d-none">
			<label id="progress_status">50% loaded</label>
			<div class="progress mb-3">
				<div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" area-valuemin="0" area-valuemax="100"></div>
			</div>
		</div>

		<div id="alert_wrapper"></div>

	</div>
	</div>


		</div>
	</div>
	
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	
	var progress = document.getElementById('progress');
	var progress_wrapper = document.getElementById('progress_wrapper');
	var progress_status = document.getElementById('progress_status');

	var upload_btn = document.getElementById('upload_btn');
	var loading_btn = document.getElementById('loading_btn');
	var cancel_btn = document.getElementById('cancel_btn');

	var alert_wrapper = document.getElementById('alert_wrapper');

	var input = document.getElementById('file_input');
	var file_input_label = document.getElementById('file_input_label');

	function show_alert(message, alert){

		alert_wrapper.innerHTML= `
				<div class="alert alert-${alert} alert-dismissible fade show" role="alert">
					<span>${message}</span>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				`;
	};

	function input_filename(){
		file_input_label.innerText = input.files[0].name;
	}

	function upload(url) {

		if (!input.value) {
			show_alert("No file selected", "warning");
			return;
		}

		var data = new FormData();

		var request = new XMLHttpRequest();

		request.responseType = "json";

		alert_wrapper.innterHTML = "";

		input.disabled = true;

		upload_btn.classList.add("d-none");

		loading_btn.classList.remove("d-none");

		cancel_btn.classList.remove("d-none");

		progress_wrapper.classList.remove("d-none");

		var file = input.files[0];

		var filename = file.name;

		var filesize = file.size;
		document.cookie = 'filesize=' + filesize;

		data.append("file", file);

		request.upload.addEventListener("progress", function(e){

			var loaded = e.loaded;
			var total = e.total;

			var percentage_complete = (loaded/total) * 100;

			progress.setAttribute("style", `width: ${Math.floor(percentage_complete)}%`);
			progress_status.innerText = `${Math.floor(percentage_complete)}% uploaded`;
		})

		request.addEventListener("load", function(e){

			if (request.status == 200){

				show_alert(`${request.response.message}`, "success");
	

			}
			else {

				show_alert('Error uploading file', 'danger');
			}

			reset();

		})

		request.addEventListener("error", function(e){

			reset();

			show_alert("Error uploading file", "danger");
		})

		request.open("post", url);
		request.send(data);

		cancel_btn.addEventListener("click", function(){

			request.abort();


		})

	}


	function reset(){

		input.value = null;

		input.disabled = false;

		cancel_btn.classList.add("d-none");

		loading_btn.classList.add('d-none');

		upload_btn.classList.remove('d-none');

		progress_wrapper.classList.add('d-none');

		progress.setAttribute("style", "width: 0");

		file_input_label.innerText = "Select File";

	}








</script>
{% endblock %}